@import url('https://fonts.googleapis.com/css2?family=Titillium+Web&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+JP:wght@300&display=swap');
:root{
    --white: white;
    --blue-grey: #2f303d;
    --green-grey: #0f1d0f;
    --light-brown: burlywood;
    --dark-brown: #977b60;
    --forest-green-traditional: #004b23ff;
    --dark-green-x-11: #006400ff;
    --pakistan-green: #007200ff;
    --ao-english: #008000ff;
    --yellow-green-color-wheel: #38b000ff;
    --sheen-green: #70e000ff;
    --green-lizard: #9ef01aff;
    --electric-lime: #ccff33ff;
}

body{
    margin: 0px !important;
    padding: 0px !important;

    background-color: var(--white);

    font-family: 'Noto Serif JP', serif;
}

p{ 
    margin: 0; 
}

/*MyIndoorGarden*/
.myindoorgarden-main{
    height: 100%;
    min-height: 100%;

    position:relative;
}

/*Header*/
.header-main{
    background-color: var(--green-grey);

    padding-bottom: 5%;
    margin-bottom: 0.5%;
}

    .header-title{
        color: var(--white);

        font-size: 4vw;

        text-align: left;
        margin-left: 5%;

        text-transform: uppercase;
    }

        .header-title-firstletter{
            font-size: 6vw;
        }

    .header-headingline{
        background-color: var(--white);
        color: var(--white);

        font-size: 0.25vw;
        width: 90%;
        margin:auto;

        border-radius: 8px;
    }

/*Stand*/
.stand-main{
    margin: auto;
    display: flex;
    justify-content: center;
    flex-direction: row; 
}

    .stand-shelf{
        background-color: var(--light-brown);

        font-size: 0.25vw;
        width: 80%;
        margin: auto;
        margin-bottom: 0.5%;

        border-radius: 8px;

        box-shadow: 0.2vw 0.2vw;
    }

/*Plant*/
.plant-main{
    color: var(--green-grey);

    height: 15%;
    width: 15%;
    
    text-decoration: none;
}

    .plant-nickname{
        padding-right: 10%;
        text-align: right;
        font-size: 2vw;
    }

        .plant-nickname::first-letter{
            font-size: 2.5vw;
        }

    .plant-species{
        padding-right: 10%;

        text-align: right;
        font-size: 1vw;
        text-transform: uppercase;
    }

        .plant-species::first-letter{
            font-size: 1.5vw;
        }

    .plant-pic{
        text-align: center;
    }

        .plant-pic-image{
            height: auto;
            width: 90%;

            border-radius: 8px;
        }

/*Factfile*/
.factfile-main{
    color: var(--green-grey);
    background-color: var(--white);

    height: 75%;
    width: 40%;
    margin: auto;
    position: absolute;
    display: inline-block;
    top: 30%;
    left: 30%;

    border-radius: 8px;
    border-style: solid;
    border-width: 4px;
    border-color: var(--light-brown);

    box-shadow: 4px 4px;
}

    .factfile-nickname{
        padding-left: 5%;

        text-align: left;
        font-size: 3vw;
    }

        .factfile-nickname::first-letter{
            font-size: 3.5vw;
        }

    .factfile-species{
        padding-left: 5%;

        text-align: left;
        font-size: 1.5vw;
        text-transform: uppercase;
    }

        .factfile-species::first-letter{
            font-size: 2vw;
        }

    .factfile-pic{
        display:flex;
        justify-content: center;

        height: 65%;
        width: auto;
    }

        .factfile-pic-image{
            border-radius: 8px;
        }

    .factfile-icons{
        text-align: center;
        display: flex;
        justify-content: center;

    }

        .factfile-icons-watering{
            width: 2.75vw;
            padding: 0.25vw;
            margin: 0.25vw;

            font-size: 2vw;

            border: solid 1px;
            border-radius: 100%;
        }

        .factfile-icons-feeding{
            width: 2.75vw;
            padding: 0.25vw;
            margin: 0.25vw;

            font-size: 2vw;

            border: solid 1px;
            border-radius: 100%;
        }

    .factfile-cross{
        color: var(--green-grey);

        display:flex;
        justify-content: center;

        text-decoration: none;
        font-size: 1.75vw;
        font-weight: 900;
    }