@import url('https://fonts.googleapis.com/css2?family=Titillium+Web&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+JP:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mali:wght@300&display=swap');

:root{
    --white: white;
    --blue-grey: #2f303d;
    --green-grey: #0f1d0f;
    --light-brown: burlywood;
    --dark-brown: #977b60;
    --forest-green-traditional: #004b23ff;
    --dark-green-x-11: #006400ff;
    --pakistan-green: #007200ff;
    --ao-english: #008000ff;
    --yellow-green-color-wheel: #38b000ff;
    --sheen-green: #70e000ff;
    --green-lizard: #9ef01aff;
    --electric-lime: #ccff33ff;
}

body{
    margin: 0px !important;
    padding: 0px !important;

    background-color: var(--white);

    font-family: 'Mali', cursive;
}

p{ 
    margin: 0; 
}

/*MyIndoorGarden*/
.myindoorgarden{
    height: 100%;
    min-height: 100%;

    position:relative;
}

/*Header*/
.header{
    background-color: var(--green-grey);

    height: 10%;
    padding-bottom: 1%;
    margin-bottom: 0.5%;
}
    .header-titlebar{
        margin-left: 5%;

        display: flex;
        flex-direction: row; 
    }

        .header-titlebar-title{
            color: var(--white);

            font-size: 3vw; 

            text-transform: uppercase;
        }

            .header-titlebar-title-firstletter{
                font-size: 4vw;
            }

        .header-titlebar-icons{
            text-align: center;
            display: flex;
            margin-left: auto;
            margin-right: 5%;
            margin-top: 1.5%;
        }

    .header-headingline{
        background-color: var(--white);
        color: var(--white);

        font-size: 0.15vw;
        width: 90%;
        margin: auto;

        border-radius: 8px;
    }

/*Stand*/
.stand{
    margin: auto;
    display: flex;
    justify-content: center;
    flex-direction: row; 
}

    .stand-shelf{
        background-color: var(--light-brown);

        font-size: 0.25vw;
        width: 90%;
        margin: auto;

        border-radius: 8px;

        box-shadow: 0.2vw 0.2vw;
    }

    .stand-brackets{
        display: flex;
        justify-content: center;
        flex-direction: row; 
        margin-bottom: 0.5%;
    }

        .stand-brackets-end{
            background-color: var(--light-brown);
            width: 0.5%;
            margin-right: 20%;
            margin-left: 20%;
            
            box-shadow: 0.2vw 0.2vw;
        }

        .stand-brackets-middle{
            background-color: var(--light-brown);
            width: 0.5%;
            margin-right: 11%;
            margin-left: 11%;

            box-shadow: 0.2vw 0.2vw;
        }   
/*Plant*/


.plant{
    color: var(--green-grey);

    height: 15%;
    width: 15%;
    
    text-decoration: none;

    cursor: pointer;
}

    .plant-blank{
        padding: 50%;

        cursor: default;
    }

    .plant-nickname{
        padding-right: 10%;
        text-align: center;
        font-size: 1.5vw;
    }

        .plant-nickname::first-letter{
            font-size: 2vw;
        }

    .plant-species{
        padding-right: 10%;

        text-align: center;
        font-size: 0.75vw;
        text-transform: uppercase;
        font-style: italic;
    }

        .plant-species::first-letter{
            font-size: 1vw;
        }

    .plant-pic{
        text-align: center;
    }

        .plant-pic-image{
            height: auto;
            width: 90%;

            border-radius: 8px;
        }

/*Factfile*/
.factfile{
    color: var(--green-grey);
    background-color: var(--white);

    height: 40%;
    width: 40%;
    margin: auto;
    position: absolute;
    display: inline-block;
    top: 10%;
    left: 30%;

    border-radius: 8px;
    border-style: solid;
    border-width: 4px;
    border-color: var(--light-brown);

    box-shadow: 4px 4px;    
}

    .factfile-nickname{
        padding-left: 5%;

        text-align: left;
        font-size: 3vw;

        width: 30%;
    }

        .factfile-nickname::first-letter{
            font-size: 3.5vw;
        }
    

    .factfile-species{
        padding-left: 5%;

        text-align: left;
        font-size: 1.5vw;
        text-transform: uppercase;
        font-style: italic;
    }

        .factfile-species::first-letter{
            font-size: 2vw;
        }

    .factfile-pic{
        display:flex;
        justify-content: center;

        height: 65%;
        width: auto;
    }

        .factfile-pic-image{
            border-radius: 8px;
        }

    .factfile-icons{
        text-align: center;
        display: flex;
        justify-content: left;

        padding-top: 3%;
        padding-left: 5%;
    }

    .factfile-cross{
        color: var(--green-grey);

        display: flex;
        justify-content: center;

        text-decoration: none;
        font-size: 1.75vw;
        font-weight: 900;

        cursor: pointer;
    }

    
/*Icon*/
.icon{
    color: black;

    width: 2.5vw;
    height: 2.5vw;
    position: relative;
}
    .icon-image{
        width: 100%;
        height: 100%;
        padding: 15%;
        
        border-radius: 100%;
    }

    .icon-data{
        position: absolute;
        margin: auto;
        display: inline-block;
        height: 2.5vw;
        width: 2.5vw;
        left: 15%;

        font-weight: bold;
    }