@import url('https://fonts.googleapis.com/css2?family=Titillium+Web&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

:root{
    --white: white;
    --blue-grey: #2f303d;
    --green-grey: #0f1d0f;
    --light-brown: burlywood;
    --dark-brown: #977b60;
    --forest-green-traditional: #004b23ff;
    --dark-green-x-11: #006400ff;
    --pakistan-green: #007200ff;
    --ao-english: #008000ff;
    --yellow-green-color-wheel: #38b000ff;
    --sheen-green: #70e000ff;
    --green-lizard: #9ef01aff;
    --electric-lime: #ccff33ff;
}

body{
    margin: 0px !important;
    padding: 0px !important;

    background-color: var(--white);

    font-family: 'Poppins', sans-serif;
}

p{ 
    margin: 0; 
}

/*MyIndoorGarden*/
.myindoorgarden{
    height: 100%;
    min-height: 100%;

    position:relative;
}

/*Header*/
.header{
    background-color: var(--green-grey);

    padding-bottom: 5%;
    margin-bottom: 0.5%;
}

.title{
    color: var(--white);

    font-size: 50px;

    text-align: left;
    margin-left: 5%;
}

.headingline{
    background-color: var(--white);
    color: var(--white);

    font-size: 3px;
    width: 90%;
    margin:auto;

    border-radius: 8px;
}

/*Stand*/
.stand{
    margin: auto;
    display: flex;
    flex-direction: row; 
    justify-content: center;
}

.shelf{
    background-color: var(--light-brown);

    font-size: 3px;
    width: 80%;
    margin: auto;
    margin-bottom: 0.5%;

    border-radius: 8px;

    box-shadow: 4px 4px;
}

/*Plant*/
.plant{
    color: var(--green-grey);

    height: 15%;
    width: 15%;
    text-align: center;

    font-size: 20px;
    text-decoration: none;
}

.plantPic{
    height: auto;
    width: 90%;

    border-radius: 8px;
}

/*Factfile*/
.factfile{
    color: var(--green-grey);
    background-color: var(--white);

    height: 80%;
    width: 40%;
    text-align: center;
    margin: auto;
    position: absolute;
    display: inline-block;
    top: 20%;
    left: 30%;

    border-radius: 8px;
    border-style: solid;
    border-width: 4px;
    border-color: var(--light-brown);

    box-shadow: 4px 4px;
}

.cross{
    color: var(--green-grey);

    text-decoration: none;
    font-size: 25px;
    font-weight: 900;
}

.pic{
    height: 70%;
    width: auto;
}